#content {
  display: flex;
  justify-content: center;
}

#content ul {
  list-style: none;
  padding: 0%;
  display: flex;
  align-items: center;
}

#content li {
  margin: 10px;
  height: 100px;
  width: 100px;
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

#content li img {
  height: 120px;
  width: auto;
  background-color: black;
}
