* {
  box-sizing: border-box;
}

:root {
  --default-border-radius:25px
  }

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://i.redd.it/paujt58s1ca61.jpg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}

#header ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0%;
  position: sticky;
}

#header li {
  flex: 1 1 0;
  display: flex;
  background-color: transparent;
  position: sticky;
  align-items: center;
  justify-content: center;
}

#header a {
  text-decoration: none;
  flex: 1 1 0;
  color: white;
  outline: none;
  font-size: x-large;
  padding: 5%;
  border-radius: var(--default-border-radius);
  text-align: center;
}

#header a:hover {
  background-color: rgba(131, 131, 131, 0.2);
}

#header a:hover,
#header a:focus {
  text-decoration: none;
}

#content {
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: var(--default-border-radius);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

#footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

#footer button {
  padding: 0.5em;
  border-radius: var(--default-border-radius);
  border: none;
  background-color: transparent;
  color: white;
}
#footer button:hover {
  background-color: rgba(131, 131, 131, 0.2);
}

.toolbar {
  margin: 20px;
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
}

.toolbar * {
  padding: 10px;
  border-radius: var(--default-border-radius);
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
}

.toolbar *:hover {
  background-color: rgba(131, 131, 131, 0.2);
}
