#cardHolder {
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  background-color: white;
  min-width: 100px;
  min-height: 100px;
  max-width: 100px;
  max-height: 100px;
  padding: 1rem;
  text-align: center;
  border-radius: 2cap;
}
